*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Raleway', sans-serif;

}
.page-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 120px;
    z-index: 1;
}
.card-depo{
    border: 1px solid rgb(196, 192, 192);
    width: 65%;
    height: 55vh;
    margin: auto;
    border-radius:15px;
    padding: 40px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(100deg, white 75%, #FEC526 70%);
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-name {
    width: 440px;
}
.card-name >h2{
    font-size: larger;
    font-weight: bold;
}
.card-name > p {
    color: rgb(136, 131, 131);
}
.data{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.data > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 35%;
}
.data >div>p:first-child {
    color: rgb(136, 131, 131);
}

.data > div > p:nth-child(2){
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
}
.buttons{
    display: flex;
    align-items: center;
    /* margin-top: 40px; */
    
}
.order {
    background-color: black;
    color: white;
    width: 220px;
    height: 60px;
    font-size: 1em;
    transform: skew(-14deg, 0);
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    font-weight: bolder;
    border: none;
    /* margin-top: 60px; */
}
.order:hover{
    background-color: #FFC628;
    color: black;
}

.details {
    color: rgb(136, 131, 131);
    font-size: 1.5em;
    border: none;
    background-color: white;
    font-weight: bold;
    padding: 20px;
}
.details:hover{
    color: black;
}
.arrow{
    font-size: 1.2em;

}
.details:hover > .arrow{
    padding-left: 10px;
    transition: 0.8s;
}
.right > img {
    width: 300px;
    height: 140%;
    width: 100%;
    padding-bottom: 10px ;
}
 .deposit {
    width: 65%;
    margin: auto;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(93, 92, 91);
}

.display-none{
    display: none;
}
#span2{
    color: rgb(24, 114, 250);
    cursor: pointer
}
